<%= form_with(model: technique, local: true) do |form| %>
  <% if technique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(technique.errors.count, "error") %> prohibited this technique from being saved:</h2>

      <ul>
      <% technique.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :position_id %>
    <%= form.text_field :position_id %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.text_field :type_id %>
  </div>

  <div class="field">
    <%= form.label :top %>
    <%= form.check_box :top %>
  </div>

  <div class="field">
    <%= form.label :gi %>
    <%= form.check_box :gi %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
